*{
	margin: 0px;
	padding: 0px;
}
#main{
	position: relative;
}
.box{
	padding: 10px 0 0 10px;
	float:left;
}
.pic{
	padding: 5px;
	border:1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 5px #ccc;
}
.pic img{
	width: 200px;
	height: auto;
}
	